body {
    background-color: rgb(39, 51, 65);
}

.puntaje {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: rgb(253, 255, 147);
    width: 50px;
    height: 45px;
    cursor: pointer;
    -webkit-mask-image: url("../img/estrella.svg");
    mask-image: url("../img/estrella.svg");
}

.item.selec {
    background-color: rgb(255, 174, 0);
}